version: '3.8'

services:
  app:
    build: .
    container_name: stress_agent
    ports:
      - "8000:8000"
    depends_on:
      - redis
    networks:
      - monitoring_net

  redis:
    image: "redis:alpine"
    container_name: redis_store
    networks:
      - monitoring_net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus_server
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert_rules.yml:/etc/prometheus/alert_rules.yml # <--- VITAL
    ports:
      - "9090:9090"
    depends_on:
      - alertmanager
    networks:
      - monitoring_net

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "9093:9093"
    networks:
      - monitoring_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_ui
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_storage:/var/lib/grafana
    networks:
      - monitoring_net

volumes:
  grafana_storage:

networks:
  monitoring_net:
    driver: bridge