global:
  scrape_interval: 5s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

  # ... (keep your existing jobs) ...
scrape_configs:
  - job_name: 'log_sentinel_python'
    static_configs:
      - targets: ['app:8000'] # Connects to the 'app' container on port 8000